<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Profile Settings</h3>
        <small>Contact us at puneetgupta18190@gmail.com if you have any questions.</small>
      </div>
      <%= form_for :user, :url => test_image_path, :html => {:multipart => true}, :remote => true do |f| %>
      <div class="modal-body" style="width: 530px; height: 300px;overflow: hidden">
        <input type="hidden" value="<%= current_user.id unless current_user.id.nil?%>" id="user_id" />

        <div class="panel" style="float: left; width: 200px; height: 170px;">
            <%= f.label :profile_pic, :style => "margin-left: 42px;" %><br />
            <div class="" style="width: 236px;height: 114px;" id="profile_image">
              <img src='' height=130 width=130 class="img-circle" style="border: 1px solid #CCCCCC;margin-left:28px"/>
              <%= f.file_field :profile_image,:id=>"profile_pic", :style=>"margin: 5px; width: 200px;display:none" %>
              <a class="click_btn" href="#"><b>Click here  </b></a><span class="image_name"></span>
            </div>
            <%= f.label :cover_pic, :style => "margin-left: 42px;" %><br />
            <div class="" style="width: 236px;height: 110px;" id="cover_image">
              <img src='' height=130 width=130 class="cover-circle" style="border: 1px solid #CCCCCC;margin-left:28px"/>
              <%= f.file_field :cover_image,:id=>"cover_pic", :style=>"margin: 5px; width: 200px;display:none" %>
              <a class="cover_btn" href="#"><b>Click here  </b></a><span class="cover_name"></span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit :update, :class => "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
//    $(function () {
        $('.profilemodal').click(function(){
            $.ajax({
                type: 'get',
                url: '/get_profile_data',
                success: function(response){
                    $('.img-circle').attr('src',response.pic.avatar.url)
                    $('.cover-circle').attr('src',response.cover)
                    var name = response.pic.avatar.url.split('/')
                    $('span.image_name').html(name[name.length -1])
                    var cover = response.cover.split('/')
                    $('span.cover_name').html(cover[cover.length -1])
                }
            })
        })


        $("#profile_pic").change(function(event){
            $('span.image_name').html($(this).val())
            var preview = $(".img-circle");
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
        });

        $("#cover_pic").change(function(event){
            $('span.cover_name').html($(this).val())
            var c_preview = $(".cover-circle");
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            reader.onload = function(e){
                image_base64 = e.target.result;
                c_preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });

        $('.click_btn').click(function () {
            $('#profile_pic').trigger('click');
        })
        $('.cover_btn').click(function () {
            $('#cover_pic').trigger('click');
        })
//        $('#profile_pic').change(function () {
//            $('span.image_name').html($(this).val())
//        })
//        $('#cover_pic').change(function () {
//            $('span.cover_name').html($(this).val())
//        })
//    });
</script>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script src="/assets/jquery.ui.widget.js"></script>-->
<!--<script src="/assets/jquery.iframe-transport.js"></script>-->
<!--<script src="/assets/jquery.fileupload.js"></script>-->

<!--<script>-->
<!--//    $(function () {-->
<!--//        $('#profile_pic').fileupload({-->
<!--//            dataType: 'json',-->
<!--//            done: function (e, data) {-->
<!--//                $.each(data.result.files, function (index, file) {-->
<!--//                    $('<p/>').text(file.name).appendTo(document.body);-->
<!--//                });-->
<!--//            }-->
<!--//        });-->
<!--//    });-->
<!--</script>-->