<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'ace.min', media: 'all' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'ace-elements.min' %>
  <%= javascript_include_tag 'ace.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<nav class="navbar navbar-fluid-top">-->
  <!--<div class="navbar-inner">-->
      <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<a class="brand" href="#"> MyApp </a>-->
        <!--<%# unless user_signed_in? %>-->
            <!--<%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>-->
        <!--<%# end %>-->
        <!--<div class="container nav-collapse">-->
            <!--<ul class="nav" style="float: right;margin-top: 10px">-->
              <!--<%# if user_signed_in? %>-->
                  <!--Signed in as <%#= current_user.email %>. Not you?-->
                  <!--<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>-->
              <!--<%# else %>-->
                  <!--<%#= link_to "Sign up", new_user_registration_path %> or <%#= link_to "sign in", new_user_session_path %>-->
              <!--<%# end %>-->
            <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
  <!--</div>-->
<!--</nav>-->
<%= yield %>

</body>
</html>
